<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
    <div class="flex justify-between">
<h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
        Agent Dashboard
      </h2>
      <button class="hover:font-bold" title="Logout" (click)="logout()">
        Logout
      </button>
    </div>
    <div class="mx-auto max-w-3xl text-center">
    </div>
    <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <app-card [title]="'offres totales'" [value]="countOffers[0]"></app-card>
        <app-card [title]="'Offres en attente'" [value]="countOffers[1]"></app-card>
        <app-card [title]="'Offres acceptées'" [value]="countOffers[2]"></app-card>
      </dl>
    </div>

    <section class="antialiased text-gray-600 px-4 mt-8" x-data="app">
      <div class="flex flex-col justify-start h-full">
        <!-- Table -->
        <div class="w-full mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
          <!-- <header class="px-5 py-4 border-b border-gray-100">
            <div class="font-semibold text-gray-800">Gestion des offres</div>
          </header> -->


          <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
  <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Offer title</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Company name</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900">Statut</th>
        <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-100 border-t border-gray-100 py-6">
      <tr *ngFor="let offer of offers" class="hover:bg-gray-50">
        <th class="flex gap-3 px-6 py-4 font-normal text-gray-900">
          {{offer.title}}
        </th>
        <td class="px-6 py-4">
          {{offer.company.name}}
        </td>
        <td class="p-2">
          <div [ngClass]="offer.status == 'Accepted' ? 'text-green-500 bg-green-100' : 'text-orange-600 bg-orange-100'" class="w-1/2 rounded-2xl text-center text-sm font-medium px-1 py-2">
            {{offer.status}}
          </div>
        </td>
        <td class="p-2">
          <div class="flex justify-start">
            <button (click)="deleteOffer(offer.id)">
              <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                </path>
              </svg>
            </button>
            <button *ngIf="offer.status == 'Pending'" title="Accept offer" (click)="acceptOffer(offer.id)">
              <svg class="w-8 h-8 hover:text-green-600 rounded-full hover:bg-gray-100 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


          <!-- <div class="overflow-x-auto p-3">
            <table class="table-auto w-full">
              <thead class="text-xs font-semibold uppercase text-gray-400 bg-gray-50">
              <tr>
                <th></th>
                <th class="p-2">
                  <div class="font-semibold text-left">Offer title</div>
                </th>
                <th class="p-2">
                  <div class="font-semibold text-left">Company name</div>
                </th>
                <th class="p-2">
                  <div class="font-semibold text-left">status</div>
                </th>
                <th class="p-2">
                  <div class="font-semibold text-left">Action</div>
                </th>
              </tr>
              </thead>

              <tbody class="text-sm divide-y divide-gray-100">

              <tr *ngFor="let offer of offers">
                <td class="p-2">
                  <input type="checkbox" class="w-5 h-5" value="id-2"/>
                </td>
                <td class="p-2">
                  <div>
                    <div class="font-medium text-gray-800">{{offer.title}}</div>
                  </div>
                </td>
                <td class="p-2">
                  <div class="text-left">{{offer.company.name}}</div>
                </td>
                <td class="p-2">
                  <div [ngClass]="offer.status == 'Accepted' ? 'text-green-500 bg-green-100' : 'text-orange-600 bg-orange-100'" class="w-1/2 rounded-2xl text-center text-sm font-medium px-1 py-2">
                    {{offer.status}}
                  </div>
                </td>
                <td class="p-2">
                  <div class="flex justify-start">
                    <button (click)="deleteOffer(offer.id)">
                      <svg class="w-8 h-8 hover:text-blue-600 rounded-full hover:bg-gray-100 p-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                        </path>
                      </svg>
                    </button>
                    <button *ngIf="offer.status == 'Pending'" title="Accept offer" (click)="acceptOffer(offer.id)">
                      <svg class="w-8 h-8 hover:text-green-600 rounded-full hover:bg-gray-100 p-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                    </button>
                  </div>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        <div class="flex justify-end font-bold space-x-4 text-2xl border-t border-gray-100 px-5 py-4">
            <div>Total</div>
            <div class="text-blue-600">RM <span x-text="total.toFixed(2)"></span></div>
          </div> -->
        </div>
      </div>
    </section>

  </div>
</section>
