<header aria-label="Site Header" class="shadow-md">
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
  <img style="max-width: 6%;" src="../../../assets/logo_myrh.png" alt="logo_myrh">
    <div class="flex ml-auto items-center md:justify-around gap-48">
      <nav aria-label="Site Nav" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-black transition" routerLink="/offers">
              Offres
            </a>
          </li>
          <li>
            <a class="text-black transition" routerLink="/companies">
              Sociétés
            </a>
          </li>
        </ul>
      </nav>
      <div class="flex items-center gap-4">
        <div *ngIf="!auth" class="sm:flex sm:gap-4">
          <a
            routerLink="/sign-in"
            class="block rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700"
          >
            Login
          </a>
          <a
            routerLink="/sign-up"
            class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-blue-600 transition hover:text-blue-600/75 sm:block"
          >
            Register
          </a>
        </div>

        <div *ngIf="auth" class="sm:flex sm:gap-4">
          <a
            routerLink="/profile"
            class="block rounded-md bg-blue-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-blue-700"
          >
            Profile société
          </a>
          <button
            (click)="logout()"
            class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-blue-600 transition hover:text-blue-600/75 sm:block"
          >
            Logout
          </button>
        </div>

        <button
          class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
      <a routerLink="/offers" class="text-base font-medium text-white hover:text-indigo-50">Offres</a>
      <a routerLink="/companies" class="text-base font-medium text-white hover:text-indigo-50">Recruteurs</a>
    </div>
  </div>
</header>
