<!-- This is an example component -->
<div class="flex flex-col border rounded-lg overflow-hidden bg-white mb-4">
  <div class="grid grid-cols-1 sm:grid-cols-1">
    <div class="flex flex-col border-b sm:border-b items-center p-8">
<!--      <p class="text-7xl font-bold text-[#0ed3cf] rounded-full">J</p>-->
      <h3 class="text-xl font-bold">{{offer.title}}</h3>
      <p class="text-gray-500 mt-5">
        {{offer.description}}
      </p>
    </div>
    <div class="flex flex-col sm:border-l col-span-3">
      <div class="flex flex-col space-y-4  p-6 text-gray-600">
        <div class="flex flex-row text-sm">
          <p class="flex items-center  text-gray-500">
            <span class="font-semibold mr-2 text-xs uppercase">Nom de société : </span>
            <span>{{offer.company.name}}</span>
          </p>
        </div>

        <div class="flex flex-row text-sm">
          <p class="flex items-center  text-gray-500">
            <span class="font-semibold mr-2 text-xs uppercase">Date de l'offre d'emploi : </span>
            <span>{{offer.created | date: "mediumDate" }}</span>
          </p>
        </div>
        <div class="flex flex-row text-sm">
          <p class="flex items-center  text-gray-500">
            <span class="font-semibold mr-2 text-xs uppercase">Profile : </span>
            <span>{{offer.profile.title}}</span>
          </p>
        </div>
        <div class="flex flex-row text-sm">
          <p class="flex items-center  text-gray-500">
            <span class="font-semibold mr-2 text-xs uppercase">Diplôme : </span>
            <span>{{offer.degree}}</span>
          </p>
        </div>
        <div class="flex flex-row text-sm">
          <p class="flex items-center  text-gray-500">
            <span class="font-semibold mr-2 text-xs uppercase">Salaire : </span>
            <span>{{offer.salary == null ? "To discuss":offer.salary+" DH"}}</span>
          </p>
        </div>

      </div>

      <div *ngIf="canDelete" class="flex flex-col w-full relative bottom-0">
        <div class="grid grid-cols-3 border-t divide-x text-[#0ed3cf]  bg-gray-50 dark:bg-transparent py-3">
          <!-- <a
            class=" cursor-pointer uppercase text-xs flex flex-row items-center justify-center font-semibold">
            <div class="mr-2" >
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#0ed3cf"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>
            </div>
            Update
          </a> -->
          <button (click)="removeOffer(offer.id)" class="w-full cursor-pointer text-xs flex flex-row items-center justify-center font-semibold ml-auto">
            <div class="mr-2" >
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
            </div>
          </button>
          <!-- <button class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center font-semibold">
            <div class="mr-2" >
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#0ed3cf"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>
            </div>
            View
          </button> -->
        </div>
      </div>

      <!-- <div *ngIf="!canDelete" class="flex flex-col w-full relative bottom-0">
        <div class="grid grid-cols-1 border-t divide-x text-gray-50  bg-indigo-500 dark:bg-transparent py-3">
          <button (click)="setOfferDetails(offer.id)" class="cursor-pointer uppercase text-xs flex flex-row items-center justify-center font-semibold">
            <div class="mr-2" >
              <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#f1f1f1"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z"/></svg>
            </div>
            View
          </button>
        </div>
      </div> -->

    </div>
  </div>
</div>

